<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="ConcesionarioDataSource"
            connectionString="Data Source=WIN-04NMSVVB46R\MASTERTIC;Initial Catalog=concesionario;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient"></add>
    </connectionStrings>
</configuration>